---
import Layout from '../../layouts/Layout.astro';
import PostBlurb from '../../components/PostBlurb.astro';
import { getCollection } from 'astro:content';
import { formatJekyllPost } from "@humanwhocodes/astro-jekyll";

export async function getStaticPaths() {

	const posts = (await getCollection('blog'))
		.map(formatJekyllPost())
        .sort(
	    	(a, b) => a.data.pubDate - b.data.pubDate
    	);

    const postYears = new Map();
    posts.forEach(post => {
        const year = post.data.date.getFullYear();

        if (!postYears.get(year)) {
            postYears.set(year, []);
        }

        postYears.get(year).push(post);
    });


    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts }
    }));
}

const { posts } = Astro.props;
const { year } = Astro.params;

---
<Layout
	title={`Posts in ${year}`}
>	
	<h2 class="no-margin">Posts in {year}</h2>

	{posts.map((post) => (
		<PostBlurb post={post}/>
	))}


</Layout>
