---
import Layout from '../../layouts/Layout.astro';
import PostBlurb from '../../components/PostBlurb.astro';
import { loadBlogPosts } from "../../lib/util.js";

export async function getStaticPaths() {

	const posts = (await loadBlogPosts('blog'))
        .sort(
	    	(a, b) => a.data.pubDate - b.data.pubDate
    	);

    const postYears = new Map();
    posts.forEach(post => {
        const year = post.data.date.getFullYear();

        if (!postYears.get(year)) {
            postYears.set(year, []);
        }

        postYears.get(year).push(post);
    });


    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts }
    }));
}

const { posts } = Astro.props;
const { year } = Astro.params;

---
<Layout
	title={`Posts in ${year}`}
>	
	<h1 class="hide-offscreen">Posts in {year}</h1>

	<div class="blog-posts-container">
		{posts.map((post) => (
			<PostBlurb post={post}/>
		))}
	</div>


</Layout>
