---
import Layout from '../../../layouts/Layout.astro';
import PostBlurb from '../../../components/PostBlurb.astro';
import slugify from "slugify";
import { loadBlogPosts } from '../../../lib/util';

export async function getStaticPaths() {
    
	const posts = (await loadBlogPosts())
        .sort(
	    	(a, b) => b.data.pubDate - a.data.pubDate
    	);

    const postTags = new Map();
    posts.forEach(post => {

        if (post.data.tags) {
            for (const tag of post.data.tags) {
        
                if (!postTags.get(tag)) {
                    postTags.set(tag, []);
                }
        
                postTags.get(tag).push(post);

            }
        }
    });

    return [...postTags.entries()].map(([tag, posts]) => ({
        params: { tag: slugify(tag.toLowerCase()) },
        props: { posts, tag }
    }));

};

const { posts, tag } = Astro.props;
---
<Layout
	title={`Posts tagged with "${tag}"`}
>	
	<h2 class="no-margin">Posts tagged with "{tag}"</h2>

	{posts.map((post) => (
		<PostBlurb post={post}/>
	))}


</Layout>
