---
import Layout from '../layouts/Layout.astro';
import PostBlurb from '../components/PostBlurb.astro';
import { loadBlogPosts } from "../lib/util.js";
import site from "../data/config.yml";

const posts = await loadBlogPosts();

---
<Layout
	title={site.name}
	description={site.description}
>	
	<h1 class="hide-offscreen">Recent Posts</h1>

	<div class="blog-posts-container">
		{posts.map((post) => (
			<PostBlurb post={post}/>
		))}
	</div>


</Layout>
