---
import ReadingList from "../components/ReadingList.astro";
import * as page from "../blurbs/reading.md";
import Page from "../layouts/Page.astro";

const Content = page.Content;
---
<Page frontmatter={page.frontmatter}>
    <h1>{page.frontmatter.title}</h1>
    <Content />
    <ReadingList />
</Page>
