---
import me from "../images/me/me-150x150.jpg";
import site from "../data/config.yml";

const today = new Date();
---
<hr>
<footer class="inverted-colors">
    <div class="page-width center">
        <div class="page-grid orange-border-bottom">
            <div class="margin-top content-width gutters">
                <div class="collapsible-media-box">
                    <div class="media-box-media center-text">
                        <img src={me} alt="Photo of Nicholas C. Zakas" width="150" class="circle-image">
                    </div>
                    <div>
                        <h2 class="no-margin-top center-text-on-mobile">About the Human</h2>
                        <p>Hi, I'm Nicholas C. Zakas, an independent software developer living in Mountain View, California. 
                            I've been a software architect at companies like Yahoo and Box, as well as an author and speaker. 
                            I created the <a href="https://eslint.org">ESLint</a> open source project and wrote several 
                            <a href="https://humanwhocodes.com/books">books</a>. At the moment, I'm <a href="https://humanwhocodes.com/blog/2014/04/02/i-have-lyme-disease/">recovering from Lyme disease</a> 
                            and haven't been able to leave my home much in the past five years. (<a href="https://medium.com/lyme-disease-warrior/progress-report-october-2018-fc38d4769e65">Health update</a>, <a rel="me" href="/about">More about me</a>)</p>
                    </div>
                </div>
            </div>
            <div class="margin-top sidebar-width hide-on-small-screens">
                <h2 class="no-margin-top">On the Web</h2>
                <ul>
                    <li><a href="https://fosstodon.org/@nzakas" rel="me">Mastodon</a></li>
                    <li><a href="https://www.twitter.com/slicknet/">Twitter</a></li>
                    <li><a href="https://www.github.com/nzakas/">GitHub</a></li>
                    <li><a href="https://www.instagram.com/humanwhocodes">Instagram</a></li>
                    <li><a href="https://www.youtube.com/channel/UC95Pwj8oPPZN2mJCEtMqOsg">YouTube</a></li>
                    <li><a href="https://www.linkedin.com/in/nzakas">LinkedIn</a></li>
                    <li><a href="https://www.slideshare.net/nzakas/presentations/">Slideshare</a></li>
                    <li><a href="https://amazon.com/author/nzakas/">Amazon</a></li>
                </ul>
            </div>
        </div>
        <p class="center-text"><a href="/policies/privacy">Privacy Policy</a> | <a href="/policies/terms">Terms of Service</a></p>
        <p class="center-text">Copyright &copy; 2020-{ today.getFullYear() } Human Who Codes LLC. Content licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="nofollow noopener">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br>Some links may be affiliate links. We may get paid if you buy something or take an action after clicking one of these. As an Amazon Associate we earn from qualifying purchases. <a href={ site.feed_source }>Blog Feed</a></p>
    </div>
</footer>
