---
import logo from "../images/logo-full-web.svg";
import site from "../data/config.yml";
---
<header class="highlight-background">
	<nav role="navigation" class="page-width center center-text gutters collapsible-corners">
		<h1 class="no-margin"><a href="/"><img src={logo} alt={ site.name } height="50"></a></h1>
		<ul class="inline-list inline-spaced-list center-text-on-small-screens overflow-x-scroll bigger-font all-caps bold">
			<li class="hide-offscreen"><a href="#content">Skip to content</a></li>
                <li><a href="/books/" class="dark-text no-underline">Books</a></li>
                <li><a href="/reading/" class="dark-text no-underline">Reading</a></li>
                <li><a href="/coaching/" class="dark-text no-underline">Coaching</a></li>
                <!-- <li><a href="/speaking/" class="dark-text no-underline">Speaking</a></li> -->
                <li><a href="/donate/" class="dark-text no-underline">Donate</a></li>
                <li><a href="/contact/" class="dark-text no-underline">Contact</a></li>
		</ul>
	</nav>
</header>
<hr>
