---
import slugify from "slugify";

const {
    post
} = Astro.props;

const {
    tags,
} = post.data;
---
<div class="post-tags">
    {tags && tags.length > 0 &&
        <span class="tags-label">Tags:</span>
    }
    <div class="tags-list">
        {tags &&
            tags.map((tag) => 
                <a href={`/${post.collection}/tag/${slugify(tag.toLowerCase())}`} rel="tag" class="tag-pill">{ tag }</a>
            )
        }
    </div>
</div>
