<div class="grid-columns round-borders content-item-border highlight-background">
    <div class="gutters">
        
        <!-- <h2 class="no-margin-top">Free E-book!</h2> -->
        <p><a href="https://ebooks.humanwhocodes.com/promises" target="_blank"><img src="/images/books/promises_community.png" alt="Understanding JavaScript Promises E-book Cover" height="250"></a></p>
        <p>Demystify JavaScript promises with the e-book that explains not just concepts, but also real-world uses of promises.</p>
    </div>
    <div class="gutters">
        <h2 class="no-margin-top">Download the Free E-book!</h2>
        <p>The community edition of <i>Understanding JavaScript Promises</i> is a free download that arrives in minutes.</p>
        <form method="post" name="sideemailform" action="https://mailinglist.humanwhocodes.com/api/subscribe">
            <div id="mc_embed_signup_scroll">
                <div style="margin-bottom: 0.5em">
                    <label>First name:
                        <input type="text" value="" style="width:100%" name="firstName">
                    </label>
                </div>
                <div>
                    <label>Email address:
                        <input type="email" value="" style="width:100%" name="email" required="">
                    </label>
                </div>
                <input type="hidden" name="formId" value="1580135">
                <div class="center-text gutters">
                    <input type="submit" value="Send my E-book">
                </div>
            </div>
        </form>
    </div>
</div>
