---
import Layout from '../../layouts/Layout.astro';
import PostBlurb from '../../components/PostBlurb.astro';
import { loadSnippets } from "../../lib/util.js";
import site from "../../data/config.yml";
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({ paginate }) {

    const posts = await loadSnippets();

    return paginate(posts, { pageSize: 10 });

};

const { page } = Astro.props;
---
<Layout
	title="Recent Snippets"
	description={site.description}
>	
	<h2 class="no-margin">Recent Snippets</h2>

	{page.data.map((post) => (
		<PostBlurb post={post}/>
	))}

	<Pagination next={page.url.next} prev={page.url.prev} />

</Layout>
